
#allWrapper {
    //border : 1px solid blue;
    background-color : rgb(203,231,239);
}

#simDiv {
    display : inline-block;
    //border  : 1px solid green;
}

#errorFormulas {
    display    	   : inline-block;
    border     	   : 1px solid green;
    vertical-align : top;
    font-size  : 24pt;
    margin-left : 10px;
    padding-left : 10px;
    padding-right : 10px;
    padding-top : 10px;
    padding-bottom : 10px;
}

#currEqHeader {
    margin-top : 100px;
}

#currEquation {
    //border     : 1px solid green;
    vertical-align : top;
    margin-left : 3em;
}

tr.formula {
    font-size  	  : 24px;
    margin-top    : 0em;
}

input[type=button] {
    // background-color : rgb(41,179,217);
    // background-color : rgb(96,188,213);
    background-color : white;
    font-size : 16pt;
}
input[type=button]#seeButton {
    color : black;
    height : 40px;
}