.largeLabel {font-size : 150%;
   		     font-weight : bold; 
   		     color : blue;
   		     }
   		     
.statsLabel {font-size : 150%;
   		     font-weight : bold; 
   		     color : black;
   		     }   
   		     
.inputTable, th, td {border-bottom : 1px solid black;
					 border-collapse : collapse;
	 				 text-align : center; 
	 				 padding : 15px;
	 				 margin  : auto;
			}
			
#chartDiv   { padding-top : 10px;
			  margin : auto; 
			}

.chartSVG  {
			  border-stroke : 10px;
			  border-color  : red;
			  border-style  : solid;
			}			

#tableDiv    { padding-top : 30px;
			   margin : auto;
			 }   		     
			 
.axis path,
.axis line   { fill : none;
			   stroke : black;
			   shape-rendering : crispEdges; 
			 }			 

.axis text   { font-family : sans-serif;
               font-size   : 11pt
             }

.person1Dot  { fill : green; }
.person2Dot  { fill : blue; }

