body        { background-color : Bisque; }

h1          { text-align : center;  }

.flexWrapper    { 
				  display : flex;
				  flex-direction : row;
				  flex-wrap : nowrap;
				  justify-content : center; // Horizontal placement of content divs
				  align-items : start;      // Vertical align within content divs 
				  width : 95%;
	  	    	  border: 1px solid Azure;
                }

.instructionsDiv {
           		  border: 1px solid green;
           		  //flex   : 1 1 auto;
           		  flex   : 1 1 20%;        // Get 1 unit of free space for either grow or shrink.
			                               // The 20% is the base value: with within div.
			      }

.dataDiv { 
           border : 1px solid orange;
           //flex   : 2 1 auto; 
           flex   : 2 1 40%; 
           background-color : #F6F6F6;
         }

.corrDiv { 
           border : 1px solid orange;
           //flex   : 2 1 auto;
           flex   : 2 1 40%;
           background-color : #F6F6F6;           
         }


.largeLabel {font-size : 150%;
   		     font-weight : bold; 
   		     color : blue;
   		     }
   		     
.statsLabel {font-size : 150%;
   		     font-weight : bold; 
   		     color : black;
   		     }   
   		     
.inputTable, th, td {border-bottom : 1px solid black;
					 border-collapse : collapse;
	 				 text-align : center; 
	 				 padding : 15px;
	 				 margin  : auto;
			}

.svgData  {
    border : 1px solid BurlyWood;
}			

.svgCorr  {
    border : 1px solid BurlyWood;
}			

// #svgBackground { fill : #F6F6F6; }

.legend {"font-size", "12px"}

#tableDiv    { padding-top : 30px;
			   margin : auto;
			 }   		     
			 
.axis path,
.axis line   { fill : none;
			   stroke : black;
			   shape-rendering : crispEdges; 
			 }			 

.axis text   { font-family : sans-serif;
               font-size   : 11pt;
             }
             
.legendText  { font-size : 10pt; }

.corrDotGrp     {}
.corrStateLabelTxt {
				     font-size : 12px;
				     fill      : cyan;
				     opacity   : 0.8;
				   }

// Tooltip group (of rect and text):				   
.corrTooltip *      { 
                      opacity : 0; 
					}
.corrTooltip.visible * { opacity : 0.9; }
.corrTooltipRect { 
			       fill   : orange;
			       height : 1em;
			       rx	  : 5;
			       ry	  : 20;
			       transition : opacity 1s;
			       opacity: 0;
	               transform: translate(-1.5em, -2.5em);
			     }

.corrTooltipTxt {
		           font-size: 10pt;
		           transition : opacity 1s;
		           opacity: 0;
		           transform: translate(-1.5em, -2em);
				}

.category1Dot  { fill : green; }
.category2Dot  { fill : blue; }
.corrDot       { fill : rgb(144, 12, 63) ; } // Dark red.




