body        { background-color : Bisque; }

h1          { text-align : center;  }

.wrapper    { width: 95%;
	      border: 1px solid Azure;
	    }

/* .leftDiv, .middleDiv, .rightDiv { */
/*    display:block; */
/*    width:33%; */
/*    border: 1px solid green; */
/*    box-sizing: border-box; */
/* } */

.leftDiv, .middleDiv, .rightDiv {
   display    : block;
   box-sizing : border-box;
   height     : 80%;
}

.leftDiv { float : left;
           width : 20%;
           border: 1px solid green;
         }

.middleDiv { margin:0 auto;
             width : 40%;
           border: 1px solid yellow;             
           }

.rightDiv { float : right;
            width : 40%;
           border: 1px solid red;
          }

/* .nextDiv { */
/*        clear:both; */
/*        display:block; */
/*        width:100%; */
/*        //\*****height:20%; */
/*        border:1px solid red; */
/*        box-sizing: border-box; */
/* } */

/* #instructions, #chartDiv { */
/*   box-sizing: border-box; */
/*   -moz-box-sizing: border-box; */
/*   -webkit-box-sizing: border-box; */
/* }     */

/* #wrapper    { width: 100%; */
/* 	      border: 1px solid Azure; */
/*     	      position : relative; */
/*               overflow : auto; */
/* 	    } */

/* #instructions  { float  : left; */
/*                  width  : 200px; */
/* 	         padding : 10px; */
/* 	       } */

/* #chartDiv   { //padding : 10px; */
/* 	      width : calc(100% - 200px - 10px); */
/* 	    } */


/* #wrapper    { width: 100%; */
/* 	      border: 1px solid Azure; */
/*     	      overflow: hidden; */
/* 	    } */
			
/* #instructions  { width: 20%; */
/* 	         padding : 50px; */
/*     		 float:left; */
/* 	       } */
				
			
/* #chartDiv   { padding : 10px; */
/* 	      //width : 20%; */
/* 	      float : right; */
/*               //float : left; */
/* 	      //overflow: hidden; /\* if you don't want chartDiv to wrap below instructions *\/  */
/* 	    } */

.largeLabel {font-size : 150%;
   		     font-weight : bold; 
   		     color : blue;
   		     }
   		     
.statsLabel {font-size : 150%;
   		     font-weight : bold; 
   		     color : black;
   		     }   
   		     
.inputTable, th, td {border-bottom : 1px solid black;
					 border-collapse : collapse;
	 				 text-align : center; 
	 				 padding : 15px;
	 				 margin  : auto;
			}

.chartSVG  {
			  border-stroke : 10px;
			  border-color  : BurlyWood;
			  border-style  : solid;
			}			

#tableDiv    { padding-top : 30px;
			   margin : auto;
			 }   		     
			 
.axis path,
.axis line   { fill : none;
			   stroke : black;
			   shape-rendering : crispEdges; 
			 }			 

.axis text   { font-family : sans-serif;
               font-size   : 11pt
             }

.person1Dot  { fill : green; }
.person2Dot  { fill : blue; }

